#heading {
  border: 0.3em solid palevioletred;
  border-radius: 20px;
  padding: 1.5em;
  background-color: paleturquoise;
  border-style: outset;
  margin: 20vh 25vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  text-align: center;
  color: palevioletred;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}

#passcodecontainer {
  background-color: cornsilk;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
  display: block;
}

#passcodecontainer::selection {
  color: palevioletred;
  background-color: grey;
}

#checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

input[type="checkbox"]+label {
  font-weight: bold;
}

input[type="checkbox"] {
  appearance: none;
  opacity: 0.7;
  width: 1em;
  height: 1em;
  margin-left: 1.3em;
  border: 0.2em inset black;
  background: transparent;
  border-radius: 0.5em;
}

input[type="checkbox"]:checked {
  background-color: palevioletred;
  box-shadow: 3px 3px 10px cornsilk, -3px -3px 10px cornsilk;
  scale: 1.3;
}

input[type="range"] {
  width: 75%;
  margin-left: 15%;
  margin-right: 15%;
}